@mixin svar ($prop, $value) {
  [style*="#{$value}:"] {
    $prop: var($value) !default;
  }
}

@mixin svar-mq ($prop, $value) {
  [style*="#{$value}:"] {
    $prop: var($value) !default;
  }
  @media only screen and (--sm-viewport) {
    [style*="#{$value}-sm:"] {
      $prop: var(($value)-sm) !default;
    }
  }
  @media only screen and (--md-viewport) {
    [style*="#{$value}-md:"] {
      $prop: var(($value)-md) !default;
    }
  }
  @media only screen and (--lg-viewport) {
    [style*="#{$value}-lg:"] {
      $prop: var(($value)-lg) !default;
    }
  }
  @media only screen and (--xl-viewport) {
    [style*="#{$value}-xl:"] {
      $prop: var(($value)-xl) !default;
    }
  }
}

// sassmiester
@mixin svar-mq ($prop, $val) {
  @media only screen and (min-width:640px) {
    [style*="#{$val}-sm:"] {
      $prop: var(($val)-sm) !default;
    }
  }
  @media only screen and (min-width:768px) {
    [style*="#{$val}-md:"] {
      $prop: var(($val)-md) !default;
    }
  }
  @media only screen and (min-width:1024px) {
    [style*="#{$val}-lg:"] {
      $prop: var(($val)-lg) !default;
    }
  }
  @media only screen and (min-width:1280px) {
    [style*="#{$val}-xl:"] {
      $prop: var(($val)-xl) !default;
    }
  }
}


@mixin 'svar:hover' ($prop, $value) {
  [style*="#{$value}:"]:hover {
    $prop: var($value), var(--$prop);
  }
}

@mixin 'svar:before' ($prop, $value) {
  [style*="#{$value}:"]::before {
    $prop: var($value), var(--$prop);
  }
}

@mixin 'svar:after' ($prop, $value) {
  [style*="#{$value}:"]::after {
    $prop: var($value), var(--$prop);
  }
}
