/* Layout Helpers */

@media (min-width: --sm-viewport) {
  --gutter: var(--gutter-sm);
}
@media (min-width: --md-viewport) {
  --gutter: var(--gutter-md);
}
@media (min-width: --lg-viewport) {
  --gutter: var(--gutter-lg);
  }
@media (min-width: --xl-viewport) {
  --gutter: var(--gutter-xl);
}

.wrapper,
[style*="--wrapper:"] {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}
