/* Layout Helpers */

@use '../variables.scss' as v;

.wrapper,
[style*="--wrapper:"] {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);

  @media only screen and (min-width: v.$small) {
    --gutter: var(--gutter-sm);
  }
  @media only screen and (min-width: var(--medium)) {
    --gutter: var(--gutter-md);
  }
  @media only screen and (min-width: var(--large)) {
    --gutter: var(--gutter-lg);
  }
  @media only screen and (min-width: var(--xlarge)) {
    --gutter: var(--gutter-xl);
  }
}
