/* Layout Helpers */

.wrapper,
[style*="--wrapper:"] {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);

  @nest @media only screen and (--sm-viewport) {
    --gutter: var(--gutter-sm);
  }
  @nest @media only screen and (--md-viewport) {
    --gutter: var(--gutter-md);
  }
  @nest @media only screen and (--lg-viewport) {
    --gutter: var(--gutter-lg);
  }
  @nest @media only screen and (--xl-viewport) {
    --gutter: var(--gutter-xl);
  }
}
