@charset "UTF-8";
/* Breakpoints */
:root {
  --white: #fff;
  --grey: #e6e6e6;
  --black: #262626;
  --green: #06847d;
  --blue: #4a69bd;
  --orange: #a46313;
  --red: #e02e06;
  --primary: var(--blue);
  --secondary: var(--green);
  --background: #fff;
  --background-alt: #f8fafc;
  --selection: #9e9e9e;
  --text-main: #4a4a4a;
  --text-bright: #000;
  --text-muted: #707070;
  --links: var(--primary);
  --focus: rgba(74, 105, 189, .35);
  --border: rgba(0, 0, 0, .2);
  --border-radius: 4px;
  --code: #000;
  --animation-duration: .1s;
  --button-hover: #ddd;
  --button-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  --form-placeholder: #949494;
  --form-text: #000;
  --variable: #39a33c;
  --highlight: #ff0;
  --select-arrow: svg-load("./assets/select-arrow.svg", fill: #161f27);
  --heading-margin: .5rem 0 .75rem;
  --typo-size-1: 2.8rem;
  --typo-size-2: 2.2rem;
  --typo-size-3: 1.8rem;
  --typo-size-4: 1.4rem;
  --typo-size-5: 1.2rem;
  --typo-size-6: 1rem;
  --gutter: 0.5rem;
  --gutter-sm: calc(var(--gutter)*2);
  --gutter-md: calc(var(--gutter)*2);
  --gutter-lg: calc(var(--gutter)*2);
  --gutter-xl: calc(var(--gutter)*2);
  --wrapper: var(75em);
  --small: var(37.5em);
  --medium: var(50em);
  --large: var(62.5em);
  --xlarge: var(--wrapper);
  --transition: all ease .4s;
  --accent-border: 0;
  --accent-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-main);
  background: var(--background);
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-size: 1em;
}

code,
samp,
time {
  background: var(--background);
  color: var(--code);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

var {
  color: var(--variable);
  font-style: normal;
  font-family: monospace;
}

kbd {
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--text-main);
  padding: 2px 4px 2px 4px;
}

button,
.button,
input,
textarea {
  transition: background-color var(--animation-duration) linear, border-color var(--animation-duration) linear, color var(--animation-duration) linear, transform var(--animation-duration) ease;
}

button,
.button,
select,
input[type=submit],
input[type=button],
input[type=checkbox],
input[type=range],
input[type=radio] {
  line-height: 1em;
  cursor: pointer;
  white-space: nowrap;
}

input:not([type=checkbox]):not([type=radio]),
select {
  display: block;
}

input:not([type=image]),
button,
textarea,
select,
details > summary,
.button,
.tag {
  color: var(--form-text);
  background-color: var(--background);
  font-family: inherit;
  font-size: calc(var(--x, 100) * 1%);
  position: relative;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: calc(var(--x, 100) * 0.08px) calc(var(--x, 100) * 0.12px);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  outline: none;
  -webkit-appearance: none;
          appearance: none;
}

.outline {
  background: transparent;
  box-shadow: none;
  color: var(--element-bg);
  border: 2px solid var(--element-bg);
}

.outline:hover, .outline:focus, .outline:active {
  box-shadow: none;
  color: var(--btn-c, var(--white));
  background-color: var(--element-bg, var(--primary));
}

details {
  margin: 0.5rem 0;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding-left: 12px;
  padding-right: 12px;
}

details > summary {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

details > *:last-child {
  padding-bottom: 10px;
}

textarea {
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

select {
  background: var(--background) var(--select-arrow) calc(100% - 12px) 50%/12px no-repeat;
  padding-right: 35px;
}

select::-ms-expand {
  display: none;
}

select[multiple] {
  padding-right: 10px;
  background-image: none;
  overflow-y: auto;
}

button,
.button,
input[type=submit],
input[type=button],
input[type=reset] {
  display: inline-block;
  padding-right: calc(var(--x, 100) * 0.28px);
  padding-left: calc(var(--x, 100) * 0.28px);
  width: auto;
  background-color: var(--element-bg, var(--primary));
  line-height: inherit;
  color: var(--btn-c, var(--white));
  box-shadow: var(--button-shadow);
}

button:hover,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover {
  box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.25);
}

input:not([readonly]):hover,
select:not([readonly]):hover,
textarea:not([readonly]):hover {
  border-color: rgba(100, 100, 100, 0.75);
}

input[type=checkbox]:active,
input[type=radio]:active,
input[type=submit]:active,
input[type=button]:active,
input[type=range]:active,
button:active {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

input:focus,
select:focus,
button:focus,
.button:focus,
textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px var(--focus);
}

input[type=checkbox],
input[type=radio] {
  position: relative;
  width: 20px;
  min-width: auto;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 1px;
  margin: 0;
  margin-right: 2px;
}

input[type=radio] {
  border-radius: 50%;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4), inset 0 0 0 4px #fff;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  background: var(--primary);
}

input[type=checkbox]:checked::before {
  display: flex;
  justify-content: center;
  content: "✔";
  color: white;
  font-size: 0.8rem;
}

input[type=range] {
  padding: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--primary);
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  background: var(--primary);
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

input[type=color] {
  padding: 2px;
  width: 5rem;
  height: 2.5rem;
}

input:disabled,
select:disabled,
button:disabled,
.button.disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::placeholder {
  color: var(--form-placeholder);
}

legend {
  font-size: 0.9em;
  font-weight: 600;
}

fieldset {
  border: 1px var(--border) solid;
  border-radius: var(--border-radius);
  margin: 0;
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
  padding: 0.75rem 1.5rem;
}

fieldset > legend:first-of-type {
  padding: 0 0.5rem;
  font-size: 1.1rem;
  font-weight: normal;
}

.tag {
  align-items: center;
  display: inline-flex;
  font-size: calc(var(--x, 100) * 0.008rem);
  color: var(--tag-c, var(--white));
  background-color: var(--element-bg, var(--primary));
  width: auto;
  justify-content: center;
  padding: calc(var(--x, 100) * 0.02px) calc(var(--x, 100) * 0.0075em);
  border: 0;
  box-shadow: none;
}

.group {
  display: inline-flex;
  justify-self: flex-start;
  margin: 0.5rem 1rem 0.5rem 0;
}

.group > * {
  margin: 0;
}

.group:not(.vertical) > * + * {
  -webkit-margin-start: -1px;
          margin-inline-start: -1px;
}

.group:not(.vertical) > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.group:not(.vertical) > *:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.group.vertical {
  flex-direction: column;
}

.group.vertical > * + * {
  -webkit-margin-before: -1px;
          margin-block-start: -1px;
}

.group.vertical > *:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.group.vertical > *:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--col, 1), 1fr);
  grid-gap: var(--gap, 1rem);
}

@media only screen and (min-width: var(--small)) {
  .grid[style*="--col-xs:"] {
    grid-template-columns: repeat(var(--col-xs, 1), 1fr);
  }
  .grid > [style*="--sc-xs:"] {
    grid-column: span var(--sc-xs, 1);
  }
  .grid > [style*="--sr-xs:"] {
    grid-row: span var(--sr-xs, 1);
  }
}
@media only screen and (min-width: var(--medium)) {
  .grid[style*="--col-sm:"] {
    grid-template-columns: repeat(var(--col-sm, 1), 1fr);
  }
  .grid > [style*="--sc-sm:"] {
    grid-column: span var(--sc-sm, 1);
  }
  .grid > [style*="--sr-sm:"] {
    grid-row: span var(--sr-sm, 1);
  }
}
@media only screen and (min-width: var(--large)) {
  .grid[style*="--col-md:"] {
    grid-template-columns: repeat(var(--col-md, 1), 1fr);
  }
  .grid > [style*="--sc-md:"] {
    grid-column: span var(--sc-md, 1);
  }
  .grid > [style*="--sr-md:"] {
    grid-row: span var(--sr-md, 1);
  }
}
@media only screen and (min-width: var(--xlarge)) {
  .grid[style*="--col-lg:"] {
    grid-template-columns: repeat(var(--col-lg, 1), 1fr);
  }
  .grid > [style*="--sc-lg:"] {
    grid-column: span var(--sc-lg, 1);
  }
  .grid > [style*="--sr-lg:"] {
    grid-row: span var(--sr-lg, 1);
  }
}
img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

::selection {
  background-color: var(--selection);
}

footer {
  font-size: 0.8em;
  color: var(--text-muted);
}

svg {
  display: inline-block;
  font-size: inherit;
  height: 1.2em;
  vertical-align: -0.2em;
  overflow: visible;
}

figure {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
}
figure figcaption {
  padding: 0.75rem 1.5rem;
  margin: 0;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

caption {
  padding: 0.5rem 0;
  text-align: start;
  caption-side: top;
}

td,
th {
  padding: 0.5rem;
  text-align: start;
}

th {
  background: rgba(100, 100, 100, 0.025);
}

thead {
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}

tr + tr,
tfoot {
  border-top: 1px solid rgba(100, 100, 100, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.3em;
  margin: var(--heading-margin);
  color: var(--text-c, inherit);
}

h1 {
  font-size: var(--typo-size-1);
}

h2 {
  font-size: var(--typo-size-2);
}

h3 {
  font-size: var(--typo-size-3);
}

h4 {
  font-size: var(--typo-size-4);
}

h5 {
  font-size: var(--typo-size-5);
}

h6 {
  font-size: var(--typo-size-6);
  line-height: 1.6em;
}

p,
table {
  margin: 0 0 1rem;
}

a {
  color: var(--links);
  text-decoration: none;
}

b,
strong,
th {
  font-weight: bold;
}

blockquote {
  border-left: calc(var(--x, 100) * 0.04px) solid var(--color, var(--primary));
  background: var(--blockquote-bg, #fff);
  margin: 1.5rem 0;
  padding: calc(var(--x, 100) * 0.0075rem) calc(var(--x, 100) * 0.015rem);
  font-style: italic;
}

blockquote footer {
  font-style: normal;
  border: 0;
}

blockquote cite {
  font-style: normal;
}

ul,
ol {
  padding: 0;
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}

ul {
  list-style: disc;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1rem;
}

address {
  font-style: normal;
}

mark {
  background-color: var(--highlight);
  border-radius: 2px;
  padding: 0 2px 0 2px;
}

.primary {
  --text-c: var(--primary);
  --element-bg: var(--primary);
}

.secondary {
  --text-c: var(--secondary);
  --element-bg: var(--secondary);
}

.green {
  --text-c: var(--green);
  --element-bg: var(--green);
}

.blue {
  --text-c: var(--blue);
  --element-bg: var(--blue);
}

.orange {
  --text-c: var(--orange);
  --element-bg: var(--orange);
}

.red {
  --text-c: var(--red);
  --element-bg: var(--red);
}

.white {
  --text-c: var(--white);
  --element-bg: var(--white);
  --btn-c: var(--text-main);
  --tag-c: var(--text-main);
}

.grey {
  --text-c: var(--grey);
  --element-bg: var(--grey);
  --btn-c: var(--text-main);
  --tag-c: var(--text-main);
}

.black {
  --text-c: var(--black);
  --element-bg: var(--black);
}

.transparent {
  --text-c: transparent;
  --element-bg: transparent;
  --btn-c: var(--text-main);
  --tag-c: var(--text-main);
  border: 1px solid transparent;
  box-shadow: none;
}

.transparent:hover {
  border: 1px solid var(--border);
}

.accent {
  color: var(--accent-c, var(--text-main));
  background-color: var(--element-bg, var(--white));
  border: var(--accent-border, 0);
  border-radius: var(--border-radius, 0);
  box-shadow: var(--accent-shadow, none);
}
.accent.primary, .accent.secondary, .accent.green, .accent.blue, .accent.red, .accent.orange, .accent.black {
  --accent-c: var(--white);
  --text-c: var(--white);
}

.sr-only {
  position: absolute !important;
  left: -100000px !important;
  top: auto !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}

/* Background */
[style*="--grad-top:"] {
  background-image: linear-gradient(0deg, transparent, var(--grad-bottom));
}

[style*="--grad-bottom:"] {
  background-image: linear-gradient(180deg, transparent, var(--grad-bottom));
}

/* Border */ /* Flex */ /* Grid */
[style*="--grid-cols:"] {
  grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
}

/* Interact */ /* Layout */ /* Sizing */ /* Spacing */ /* Typography */
[style*="--bi:"] {
  page-break-inside: var(--bi);
  break-inside: var(--bi);
}

/* Transform */ /* Animation */ /* Misc */ /* Background Helpers */
[style*="--grad:"] {
  background-image: linear-gradient(var(--grad), rgba(0, 0, 0, 0), var(--grad-color, rgb(0, 0, 0)));
}

[style*="--grad-vars:"] {
  background-image: linear-gradient(var(--grad-vars), var(--primary), var(--secondary));
}

[style*="--bg-pattern-squares:"] {
  background-image: repeating-linear-gradient(45deg, currentColor 25%, transparent 25%, transparent 75%, currentColor 75%, currentColor), repeating-linear-gradient(45deg, currentColor 25%, transparent 25%, transparent 75%, currentColor 75%, currentColor);
  background-position: 0 0, calc(var(--bg-pattern-squares) * 1px) calc(var(--bg-pattern-squares) * 1px);
  background-size: calc(var(--bg-pattern-squares) * 2px) calc(var(--bg-pattern-squares) * 2px);
}

/* Layout Helpers */
.wrapper,
[style*="--wrapper:"] {
  max-width: var(--wrapper);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}
@media only screen and (min-width: var(--small)) {
  .wrapper,
[style*="--wrapper:"] {
    --gutter: var(--gutter-sm);
  }
}
@media only screen and (min-width: var(--medium)) {
  .wrapper,
[style*="--wrapper:"] {
    --gutter: var(--gutter-md);
  }
}
@media only screen and (min-width: var(--large)) {
  .wrapper,
[style*="--wrapper:"] {
    --gutter: var(--gutter-lg);
  }
}
@media only screen and (min-width: var(--xlarge)) {
  .wrapper,
[style*="--wrapper:"] {
    --gutter: var(--gutter-xl);
  }
}

/* Position Helpers */
[style*="--inset:"] {
  top: var(--inset);
  left: var(--inset);
  right: var(--inset);
  bottom: var(--inset);
}

[style*="--inset-top:"] {
  top: var(--inset-top);
  left: var(--inset-top);
  right: var(--inset-top);
}

[style*="--inset-bottom:"] {
  left: var(--inset-bottom);
  right: var(--inset-bottom);
  bottom: var(--inset-bottom);
}

[style*="--inset-top-left:"] {
  top: var(--inset-top-left);
  left: var(--inset-top-left);
}

[style*="--inset-top-right:"] {
  top: var(--inset-top-right);
  right: var(--inset-top-right);
}

[style*="--inset-bottom-left:"] {
  bottom: var(--inset-bottom-left);
  left: var(--inset-bottom-left);
}

[style*="--inset-bottom-right:"] {
  bottom: var(--inset-bottom-right);
  right: var(--inset-bottom-right);
}

/* Shadow Helpers */
[style*="--levitate:"] {
  box-shadow: 0 calc(var(--levitate) * 0.5px) calc(var(--levitate) * 0.6px) rgba(0, 0, 0, calc(var(--levitate) * 0.013)), 0 calc(var(--levitate) * 1px) calc(var(--levitate) * 1.2px) rgba(0, 0, 0, calc(var(--levitate) * 0.013)), 0 calc(var(--levitate) * 2px) calc(var(--levitate) * 2.4px) rgba(0, 0, 0, calc(var(--levitate) * 0.013)), 0 calc(var(--levitate) * 4px) calc(var(--levitate) * 4.4px) rgba(0, 0, 0, calc(var(--levitate) * 0.013));
  transform: translateY(calc(var(--levitate) * -1.2px));
}

[style*="--levitate-hvr:"] {
  transition: var(--transition);
}
[style*="--levitate-hvr:"]:hover, [style*="--levitate-hvr:"]:focus {
  box-shadow: 0 calc(var(--levitate-hvr) * 0.5px) calc(var(--levitate-hvr) * 0.6px) rgba(0, 0, 0, calc(var(--levitate-hvr) * 0.013)), 0 calc(var(--levitate-hvr) * 1px) calc(var(--levitate-hvr) * 1.2px) rgba(0, 0, 0, calc(var(--levitate-hvr) * 0.013)), 0 calc(var(--levitate-hvr) * 2px) calc(var(--levitate-hvr) * 2.4px) rgba(0, 0, 0, calc(var(--levitate-hvr) * 0.013)), 0 calc(var(--levitate-hvr) * 4px) calc(var(--levitate-hvr) * 4.4px) rgba(0, 0, 0, calc(var(--levitate-hvr) * 0.013));
  transform: translateY(calc(var(--levitate-hvr) * -1.2px));
}

[style*="--shadow:"] {
  box-shadow: 0 calc(var(--shadow) * 0.1px) calc(var(--shadow) * 0.2px) rgba(0, 0, 0, calc(var(--shadow) * 0.02)), 0 calc(var(--shadow) * 0.2px) calc(var(--shadow) * 0.4px) rgba(0, 0, 0, calc(var(--shadow) * 0.02)), 0 calc(var(--shadow) * 0.4px) calc(var(--shadow) * 0.8px) rgba(0, 0, 0, calc(var(--shadow) * 0.02)), 0 calc(var(--shadow) * 0.8px) calc(var(--shadow) * 1.6px) rgba(0, 0, 0, calc(var(--shadow) * 0.02));
}

[style*="--shadow-soft:"] {
  box-shadow: 0 calc(var(--shadow-soft) * 0.3px) calc(var(--shadow-soft) * 1.1px) rgba(0, 0, 0, 0.1), 0 calc(var(--shadow-soft) * 0.6px) calc(var(--shadow-soft) * 1.2px) rgba(0, 0, 0, 0.1), 0 calc(var(--shadow-soft) * 1.2px) calc(var(--shadow-soft) * 1.4px) rgba(0, 0, 0, 0.1), 0 calc(var(--shadow-soft) * 2.4px) calc(var(--shadow-soft) * 1.6px) rgba(0, 0, 0, 0.1);
}

[style*="--shadow-hard:"] {
  box-shadow: 0 calc(var(--shadow-hard) * 0.75px) calc(var(--shadow-hard) * 1.3px) rgba(0, 0, 0, calc(var(--shadow-hard) * 0.12));
}

[style*="--shadow-vert:"] {
  box-shadow: 0 calc(var(--shadow-vert) * 1.4px) calc(var(--shadow-vert) * 2px) calc(var(--shadow-vert) * -1.7px) rgba(0, 0, 0, calc(var(--shadow-vert) * 0.12));
}

[style*="--shadow-inset:"] {
  box-shadow: inset 0 calc(var(--shadow-inset) * 0.1px) calc(var(--shadow-inset) * 0.2px) rgba(0, 0, 0, calc(var(--shadow-inset) * 0.02)), inset 0 calc(var(--shadow-inset) * 0.2px) calc(var(--shadow-inset) * 0.4px) rgba(0, 0, 0, calc(var(--shadow-inset) * 0.02)), inset 0 calc(var(--shadow-inset) * 0.4px) calc(var(--shadow-inset) * 0.8px) rgba(0, 0, 0, calc(var(--shadow-inset) * 0.02)), inset 0 calc(var(--shadow-inset) * 0.8px) calc(var(--shadow-inset) * 1.6px) rgba(0, 0, 0, calc(var(--shadow-inset) * 0.02));
}

[style*="--shadow-hvr:"] {
  transition: var(--transition);
}
[style*="--shadow-hvr:"]:hover, [style*="--shadow-hvr:"]:focus {
  box-shadow: 0 calc(var(--shadow-hvr) * 0.1px) calc(var(--shadow-hvr) * 0.2px) rgba(0, 0, 0, calc(var(--shadow-hvr) * 0.02)), 0 calc(var(--shadow-hvr) * 0.2px) calc(var(--shadow-hvr) * 0.4px) rgba(0, 0, 0, calc(var(--shadow-hvr) * 0.02)), 0 calc(var(--shadow-hvr) * 0.4px) calc(var(--shadow-hvr) * 0.8px) rgba(0, 0, 0, calc(var(--shadow-hvr) * 0.02)), 0 calc(var(--shadow-hvr) * 0.8px) calc(var(--shadow-hvr) * 1.6px) rgba(0, 0, 0, calc(var(--shadow-hvr) * 0.02));
}

/* Spacing Helpers */
[style*="--px:"] {
  -webkit-padding-start: var(--px);
          padding-inline-start: var(--px);
  -webkit-padding-end: var(--px);
          padding-inline-end: var(--px);
}

[style*="--py:"] {
  -webkit-padding-before: var(--py);
          padding-block-start: var(--py);
  -webkit-padding-after: var(--py);
          padding-block-end: var(--py);
}

[style*="--mx:"] {
  -webkit-margin-start: var(--mx);
          margin-inline-start: var(--mx);
  -webkit-margin-end: var(--mx);
          margin-inline-end: var(--mx);
}

[style*="--my:"] {
  -webkit-margin-before: var(--my);
          margin-block-start: var(--my);
  -webkit-margin-after: var(--my);
          margin-block-end: var(--my);
}

/* Transform Helpers */
[style*="--translate:"],
[style*="--translatex:"],
[style*="--translatey:"],
[style*="--scale:"],
[style*="--rotate:"],
[style*="--skew:"] {
  transform: translate(var(--translate, 0)) translateX(var(--translatex, 0)) translateY(var(--translatey, 0)) scale(var(--scale, 100%)) rotate(var(--rotate, 0)) skew(var(--skew, 0));
}

[style*="--translate-hvr:"],
[style*="--translatex-hvr:"],
[style*="--translatey-hvr:"],
[style*="--scale-hvr:"],
[style*="--rotate-hvr:"],
[style*="--skew-hvr:"] {
  transition: var(--transition);
}
[style*="--translate-hvr:"]:hover,
[style*="--translatex-hvr:"]:hover,
[style*="--translatey-hvr:"]:hover,
[style*="--scale-hvr:"]:hover,
[style*="--rotate-hvr:"]:hover,
[style*="--skew-hvr:"]:hover {
  transform: translate(var(--translate-hvr, 0)) translateX(var(--translatex-hvr, 0)) translateY(var(--translatey-hvr, 0)) scale(var(--scale-hvr, 100%)) rotate(var(--rotate-hvr, 0)) skew(var(--skew-hvr, 0));
}

/* Typography Helpers */
[style*="--line-clamp:"] {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

[style*="--text-3d:"] {
  text-shadow: 6px 6px 10px rgba(255, 255, 255, 0.1), 6px 6px var(--text-3d), 5.75px 5.75px var(--text-3d), 5.5px 5.5px var(--text-3d), 5.25px 5.25px var(--text-3d), 5px 5px var(--text-3d), 4.75px 4.75px var(--text-3d), 4.5px 4.5px var(--text-3d), 4.25px 4.25px var(--text-3d), 4px 4px var(--text-3d), 3.75px 3.75px var(--text-3d), 3.5px 3.5px var(--text-3d), 3.25px 3.25px var(--text-3d), 3px 3px var(--text-3d), 2.75px 2.75px var(--text-3d), 2.5px 2.5px var(--text-3d), 2.25px 2.25px var(--text-3d), 2px 2px var(--text-3d), 1.75px 1.75px var(--text-3d), 1.5px 1.5px var(--text-3d), 1.25px 1.25px var(--text-3d), 1px 1px var(--text-3d), 0.75px 0.75px var(--text-3d), 0.5px 0.5px var(--text-3d), 0.25px 0.25px var(--text-3d);
}

/*! 
 * Bonsai Sass | MIT License
 *
 * Author: Woodcock3
 * Source: https://github.com/woodcock3/bonsai
 * Documentation: https://woodcock3.github.io/bonsai/docs/
 *
 * Credit: Bonsai CSS | https://github.com/bonsaicss/bonsai.css
 */
/* ===========================
 * Configuration
 * =========================== */
/* ===========================
 * Base
 * =========================== */
/* ===========================
 * Utilities 
 * =========================== */
/* ===========================
 * Helpers
 * =========================== */
