<footer class="book-footer">
  <div style="--d:flex; --jc:center; --fd:column">
    <div style="--ta:center; --mb:1rem">
      <a class="github-button" href="https://github.com/woodcock3/bonsai" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star woodcock3/bonsai on GitHub">Star</a>
      <a class="github-button" href="https://github.com/woodcock3/bonsai/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork woodcock3/bonsai on GitHub">Fork</a>
      <a class="github-button" href="https://github.com/woodcock3/bonsai/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download woodcock3/bonsai on GitHub">Download</a>
    </div>
    <div style="--m:auto; --ta:center; --op:.7">
      <p style="--mb:0">Copyright © {{ meta.name }} {{ "now" | date: "%Y" }}.</p>
      <p style="--mb:2rem"> Made with ❤ by <a href="{{ meta.myurl }}" target="_blank" class="underline" rel="noopener">{{ meta.author }}</a> • <a href="{{ meta.github_url }}" class="underline" target="_blank" rel="noopener">Github</a>
      <p style="--mb:0">Carefully crafted by the Bonsai.css team with the help of <a href="https://github.com/bonsaicss/bonsai.css/graphs/contributors">our contributors</a>.</p>
    </div>
  </div>   
</footer>
<div class="book-comments"></div>
<label for="menu-control" class="hidden book-menu-overlay"></label>
<script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
